.header__menu-links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 10px;

  color: #fff;
  font-size: 18px;
  line-height: 22px;
}

@media (min-width: 768px) {
  .header__menu-links {
    flex-direction: row;
    flex-wrap: wrap;
    /* min-width: 320px; */
  }
}
