.cards__item {
  border-radius: 4%;
  background-color: #fff;
  font-size: 0;

  display: grid;
  grid-template-columns: 75% 1fr;
  grid-template-rows: repeat(2, min-content);

  position: relative;
}

@media (min-width: 619px) {
  .cards__item {
    max-width: 430px;
  }
}
