.form__button-submit {
  height: 46px;
  width: 100%;
  padding: 0;

  font-family: inherit;
  font-size: 14px;
  line-height: 17px;

  color: #fff;
  background-color: #000;
  border: 0;
  transition: opacity .3s linear;

  cursor: pointer;
  border-radius: 2px;
}

.form__button-submit:hover {
  opacity: .8;
}

@media (min-width: 880px) {
  .form__button-submit {
    font-size: 18px;
    line-height: 22px;
  }
}
