.header {
  max-width: 880px;
  padding: 28px 0 27px 27px;
  margin: auto;

  border-bottom: 1px solid rgba(84, 84, 84, .75);
}

@media (min-width: 425px) {
  .header {
    padding-top: 36px;
    padding-left: 37px;
  }
}

@media (min-width: 768px) {
  .header {
    padding-top: 45px;
    padding-left: 47px;
  }
}

@media (min-width: 918px) {
  .header {
    padding-top: 40px;
    padding-left: 0;
    padding-bottom: 37px;
  }
}
