.form {
  width: 282px;
  padding: 25px 22px;

  box-sizing: border-box;
  position: relative;

  background-color: #fff;
  border-radius: 10px;
}

@media (min-width: 619px) {
  .form {
    width: 350px;
    padding: 29px;
  }
}

@media (min-width: 880px) {
  .form {
    width: 430px;
    padding: 34px 36px 37px;
  }
}
